.card_container {
    background-color:  rgb(124, 123, 123, 0.25);
    display: flex;

    justify-content: center;
    align-items: center;
    
    width: 15em;
    height: 20em;

    margin:25px ;

    border-radius: 8%;
}


img{

    width: 15rem;
    height: 15rem;
  
}


